@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-urbanist{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
 }

 /* .marquee {
     animation: scroll-left 25s linear infinite;
 }

 @keyframes scroll-left {
     0% {
         transform: translateX(100%);
     }

     100% {
         transform: translateX(-100%);
     }
 } */